{
    "source": {
        "directories": [
            "src"
        ]
    },
    "timeout": 10,
    "logs": {
        "text": "infection.log",
        "summary": "summary.log",
        "json": "infection-log.json",
        "perMutator": "per-mutator.md",
        "github": true,
        "badge": {
            "branch": "master"
        }
    },
    "phpUnit": {
        "configDir": "."
    },
    "mutators": {
        "@default": true
    },
    "testFramework":"phpunit",
    "testFrameworkOptions": "-vvv"
}
