parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#3 \\$repository of callable Kiboko\\\\Component\\\\Satellite\\\\Pipeline\\\\StepInterface expects Kiboko\\\\Contract\\\\Configurator\\\\StepRepositoryInterface, Kiboko\\\\Contract\\\\Configurator\\\\RepositoryInterface given\\.$#"
			count: 1
			path: src/Pipeline/ConfigurationApplier.php

		-
			message: "#^Parameter \\#1 \\$state of method Kiboko\\\\Contract\\\\Configurator\\\\StepBuilderInterface\\:\\:withState\\(\\) expects PhpParser\\\\Node\\\\Expr, PhpParser\\\\Node\\\\Expr\\\\New_\\|PhpParser\\\\Node\\\\Stmt given\\.$#"
			count: 1
			path: src/Pipeline/Extractor.php

		-
			message: "#^Parameter \\#4 \\$state of method Kiboko\\\\Component\\\\Satellite\\\\Builder\\\\Pipeline\\:\\:addExtractor\\(\\) expects PhpParser\\\\Builder\\|PhpParser\\\\Node\\\\Expr, PhpParser\\\\Node\\\\Expr\\\\New_\\|PhpParser\\\\Node\\\\Stmt given\\.$#"
			count: 1
			path: src/Pipeline/Extractor.php

		-
			message: "#^Parameter \\#1 \\$state of method Kiboko\\\\Contract\\\\Configurator\\\\StepBuilderInterface\\:\\:withState\\(\\) expects PhpParser\\\\Node\\\\Expr, PhpParser\\\\Node\\\\Expr\\\\New_\\|PhpParser\\\\Node\\\\Stmt given\\.$#"
			count: 1
			path: src/Pipeline/Loader.php

		-
			message: "#^Parameter \\#4 \\$state of method Kiboko\\\\Component\\\\Satellite\\\\Builder\\\\Pipeline\\:\\:addLoader\\(\\) expects PhpParser\\\\Builder\\|PhpParser\\\\Node\\\\Expr, PhpParser\\\\Node\\\\Expr\\\\New_\\|PhpParser\\\\Node\\\\Stmt given\\.$#"
			count: 1
			path: src/Pipeline/Loader.php

		-
			message: "#^Parameter \\#1 \\$state of method Kiboko\\\\Contract\\\\Configurator\\\\StepBuilderInterface\\:\\:withState\\(\\) expects PhpParser\\\\Node\\\\Expr, PhpParser\\\\Node\\\\Expr\\\\New_\\|PhpParser\\\\Node\\\\Stmt given\\.$#"
			count: 1
			path: src/Pipeline/Transformer.php

		-
			message: "#^Parameter \\#4 \\$state of method Kiboko\\\\Component\\\\Satellite\\\\Builder\\\\Pipeline\\:\\:addTransformer\\(\\) expects PhpParser\\\\Builder\\|PhpParser\\\\Node\\\\Expr, PhpParser\\\\Node\\\\Expr\\\\New_\\|PhpParser\\\\Node\\\\Stmt given\\.$#"
			count: 1
			path: src/Pipeline/Transformer.php

		-
			message: "#^Class Kiboko\\\\Component\\\\Bucket\\\\RejectionResultBucket not found\\.$#"
			count: 1
			path: src/Plugin/Filtering/Builder/Drop.php

		-
			message: "#^Class Kiboko\\\\Component\\\\Bucket\\\\RejectionResultBucket not found\\.$#"
			count: 1
			path: src/Plugin/Filtering/Builder/Reject.php

		-
			message: "#^Parameter \\#1 \\$builder of class Kiboko\\\\Component\\\\Satellite\\\\Plugin\\\\SFTP\\\\Factory\\\\Repository\\\\Repository constructor expects Kiboko\\\\Component\\\\Satellite\\\\Plugin\\\\SFTP\\\\Builder\\\\Loader\\|Kiboko\\\\Component\\\\Satellite\\\\Plugin\\\\SFTP\\\\Builder\\\\Server, Kiboko\\\\Component\\\\Satellite\\\\Plugin\\\\SFTP\\\\Builder\\\\Extractor given\\.$#"
			count: 1
			path: src/Plugin/SFTP/Factory/Extractor.php

		-
			message: "#^Parameter \\#2 \\$feature of method Kiboko\\\\Component\\\\Satellite\\\\Runtime\\\\Api\\\\Configuration\\:\\:addFeature\\(\\) expects Kiboko\\\\Contract\\\\Configurator\\\\FeatureConfigurationInterface, Symfony\\\\Component\\\\Config\\\\Definition\\\\ConfigurationInterface given\\.$#"
			count: 1
			path: src/Runtime/Api/Factory.php

		-
			message: "#^Parameter \\#2 \\$feature of method Kiboko\\\\Component\\\\Satellite\\\\Runtime\\\\HttpHook\\\\Configuration\\:\\:addFeature\\(\\) expects Kiboko\\\\Contract\\\\Configurator\\\\FeatureConfigurationInterface, Symfony\\\\Component\\\\Config\\\\Definition\\\\ConfigurationInterface given\\.$#"
			count: 1
			path: src/Runtime/HttpHook/Factory.php

		-
			message: "#^Parameter \\#2 \\$feature of method Kiboko\\\\Component\\\\Satellite\\\\Runtime\\\\Pipeline\\\\Configuration\\:\\:addFeature\\(\\) expects Kiboko\\\\Contract\\\\Configurator\\\\FeatureConfigurationInterface, Symfony\\\\Component\\\\Config\\\\Definition\\\\ConfigurationInterface given\\.$#"
			count: 1
			path: src/Runtime/Pipeline/Factory.php
