<?xml version="1.0"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.1/phpunit.xsd"
        backupGlobals="true"
        colors="false"
        processIsolation="false"
        stopOnError="false"
        stopOnFailure="false"
        stopOnIncomplete="false"
        stopOnSkipped="false"
        stopOnRisky="false"
        timeoutForSmallTests="1"
        timeoutForMediumTests="10"
        timeoutForLargeTests="60"
        cacheDirectory=".phpunit.cache"
        backupStaticProperties="false"
        requireCoverageMetadata="false">
    <testsuites>
        <testsuite name="schema">
            <directory>tests/schema/</directory>
            <exclude>vendor/</exclude>
        </testsuite>
        <testsuite name="functional">
            <directory>tests/functional/</directory>
            <exclude>vendor/</exclude>
        </testsuite>
        <testsuite name="integration">
            <directory>tests/integration/</directory>
            <exclude>vendor/</exclude>
        </testsuite>
    </testsuites>
    <source restrictDeprecations="true" restrictNotices="true" restrictWarnings="true">
        <include>
            <directory>src</directory>
        </include>
    </source>
    <php>
        <ini name="allow_url_include" value="1" />
    </php>
</phpunit>
