<?xml version="1.0" encoding="UTF-8"?>
<!-- https://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         stopOnError="false"
         stopOnFailure="false"
         stopOnWarning="false"
         stopOnIncomplete="false"
         stopOnRisky="false"
         stopOnSkipped="true"
         failOnRisky="true"
         failOnWarning="true"
         beStrictAboutChangesToGlobalState="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutResourceUsageDuringSmallTests="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutTodoAnnotatedTests="true"
         beStrictAboutCoversAnnotation="true"
         enforceTimeLimit="false"
         verbose="true">
  <coverage/>
  <testsuites>
    <testsuite name="schema">
      <directory>tests/schema/</directory>
      <exclude>vendor/</exclude>
    </testsuite>
    <testsuite name="functional">
      <directory>tests/functional/</directory>
      <exclude>vendor/</exclude>
    </testsuite>
    <testsuite name="integration">
      <directory>tests/integration/</directory>
      <exclude>vendor/</exclude>
    </testsuite>
  </testsuites>
  <php>
    <ini name="error_reporting" value="-1"/>
    <ini name="memory_limit" value="-1"/>
  </php>
  <listeners>
    <listener class="JohnKary\PHPUnit\Listener\SpeedTrapListener">
      <arguments>
        <array>
          <element key="slowThreshold">
            <integer>1000</integer>
          </element>
        </array>
      </arguments>
    </listener>
  </listeners>
</phpunit>
